---
layout: page
title : Needs
header : xcvbn
group : navigation
order : 1
---
{% include JB/setup %}

<p>
Firstly, at a <i>system</i> level, through the eyes of its creators, owners or sponsors, why does this system exist? Secondly, at an <i>individual</i> level, what needs I hope to have met through being a part of this system? 
</p>
<p>
Answers the question: <i>The system exists in order that ______ ...</i>
</p>
{% assign posts_collate = (site.posts | where: "category" , "Need") %}
{% include JB/posts_collate %}