---
layout: page
title : Prototypes
header : xcvbn
group: navigation
order : 6
---
{% include JB/setup %}

<p>
Many attempts have been made to provide models and frameworks for "How the work works". Extracting their respective documentation and manifestos into the five levels of a spine, these can be mapped using the Spine Model. This makes them easier to understand and to start to compare to each other. It also makes them easier to use as a departure point and effectively evolve to suit your specific context.
</p>
<p>
Here are some common approaches, mapped as Prototype Spines...
</p>

{% assign posts_collate = (site.posts | where: "category" , "Prototype") %}
{% include JB/posts_collate %}