---
title: The Spine Catalogue
keywords: mydoc
sidebar: catalogue_sidebar
toc: false
permalink: catalogue.html
folder: catalogue
---

    <!-- Service Tabs -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Spine Model Levels</h2>
        </div>
        <div class="col-lg-12">

            <ul id="myTab" class="nav nav-tabs nav-justified">
                <li class="active"><a href="#needs-catalogue" data-toggle="tab"><i class="fa"></i>Needs</a>
                </li>
                <li class=""><a href="#values-catalogue" data-toggle="tab"><i class="fa"></i>Values</a>
                </li>
                <li class=""><a href="#principles-catalogue" data-toggle="tab"><i class="fa"></i>Principles</a>
                </li>
                <li class=""><a href="#practices-catalogue" data-toggle="tab"><i class="fa"></i>Practices</a>
                </li>
                <li class=""><a href="#tools-catalogue" data-toggle="tab"><i class="fa"></i>Tools</a>
                </li>
            </ul>

            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="needs-catalogue">
                    <p>
                        {% include tip.html content="Needs resolve this statement: <i>From the perspective of {X}, this part of the system exists in order that {Y} can be achieved.</i>" %}

                        {% assign sorted-posts = site.posts | where: "category","Needs" %}
                        {% include_relative list-posts.md %}

                    </p>
                </div>
                <div class="tab-pane fade" id="values-catalogue">
                   {% include tip.html content="Values resolve this statement: <i>We optimise the system for {X}, so that meeting the Needs is more likely.</i>" %}

                    {% assign sorted-posts = site.posts | where: "category","Values" %}
                    {% include_relative list-posts.md %}

                </div>
                <div class="tab-pane fade" id="principles-catalogue">
                    {% include tip.html content="Principles resolve this statement: <i>We leverage {X} to get more of what we Value.</i>" %}

                    {% assign sorted-posts = site.posts | where: "category","Principles" %}
                    {% include_relative list-posts.md %}

                </div>
                <div class="tab-pane fade" id="practices-catalogue">
                   {% include tip.html content="Practices resolve this statement: <i>We do {X} to apply the Principles that matter in this context.</i>" %}

                    {% assign sorted-posts = site.posts | where: "category","Practices" %}
                    {% include_relative list-posts.md %}

                </div>
                <div class="tab-pane fade" id="tools-catalogue">
                   {% include tip.html content="Tools resolve this statement: <i>We use {X} to apply our Practices more efficiently.</i>" %}

                    {% assign sorted-posts = site.posts | where: "category","Tools" %}
                    {% include_relative list-posts.md %}
                </div>
            </div>

        </div>
    </div>

    <!-- Service List -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Archetypes</h2>
        </div>
        <div class="col-md-4">
            <div class="media">
                <div class="pull-left">
                    <span class="fa-stack fa-2x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="fa fa-stack-1x fa-inverse">XP</i>
                    </span>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><a href="xp-archetype">Extreme Programming (XP)</a></h4>
                </div>
            </div>
            <div class="media">
                <div class="pull-left">
                    <span class="fa-stack fa-2x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="fa fa-stack-1x fa-inverse">Agil</i>
                    </span>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><a href="agilemanifesto-archetype"> Agile Manifesto</a></h4>
                </div>
            </div>
            <div class="media">
                <div class="pull-left">
                    <span class="fa-stack fa-2x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="fa fa-stack-1x fa-inverse">Scru</i>
                    </span>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><a href="scrum-archetype">Scrum</a></h4>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="media">
                <div class="pull-left">
                    <span class="fa-stack fa-2x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="fa fa-stack-1x fa-inverse">LeSS</i>
                    </span>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><a href="less-archetype">Large Scale Scrum (LeSS)</a></h4>
                </div>
            </div>
            <div class="media">
                <div class="pull-left">
                    <span class="fa-stack fa-2x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="fa fa-stack-1x fa-inverse">Kan</i>
                    </span>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><a href="kanban-archetype">Kanban</a></h4>
                </div>
            </div>
            <div class="media">
                <div class="pull-left">
                    <span class="fa-stack fa-2x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="fa fa-stack-1x fa-inverse">Crys</i>
                    </span>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><a href="crystal-archetype">Crystal</a></h4>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="media">
                <div class="pull-left">
                    <span class="fa-stack fa-2x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="fa fa-stack-1x fa-inverse">DSD</i>
                    </span>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><a href="dsdm-archetype">Dynamic systems dev method (DSDM)</a></h4>
                </div>
            </div>
            <div class="media">
                <div class="pull-left">
                    <span class="fa-stack fa-2x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="fa fa-stack-1x fa-inverse">FDD</i>
                    </span>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><a href="fdd-archetype">Feature Driven Development (FDD)</a></h4>
                </div>
            </div>
            <div class="media">
                <div class="pull-left">
                    <span class="fa-stack fa-2x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="fa fa-stack-1x fa-inverse">DAD</i>
                    </span>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><a href="dad-archetype">Disciplined Agile Delivery (DAD)</a></h4>
                </div>
            </div>
        </div>
    </div>
